* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    text-decoration: none; 
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 2rem;
}

.main-text {
    width: 20rem;
    padding-left: 2px;
}

.main-text h1{
    font: 600 2rem 'Roboto', sans-serif;

    padding: 1rem 5px;
}

.main-text .text {
    font: 500 1rem 'Roboto', sans-serif;
    color: #2e2c2c;
}

main input {
    width: 19rem;  

    font: 500 0.8rem 'Poppins', sans-serif;
    padding: 0.8rem 0;

    border-color: #000000;
    border-top: none;
    border-right: none;
    border-left: none
}

.new-password {
    font: 500 1rem 'DM-Sans', sans-serif; 

    padding: 3rem;
    margin-left: 12rem;
}

button {
    font: 600 14px 'Poppins', sans-serif;
    letter-spacing: 2px;

    width: 18.7rem;
    padding: 0.5rem 3rem;
    border: none;
    background: #000000;
    color: #FFFFFF;
    border-radius: 5px;

    cursor: pointer;
    transition: all 0.6s;
}

button:hover {
    background: #F9F9F9;
    color: #000000;
    font: 700 14px 'Poppins', sans-serif;
    border: 1px solid #000000;
}

button:hover::after {
    transform: scale();
}

p {
    font: 600 1.1rem 'Poppins', sans-serif;
    padding: 3rem 0;
}

.redes-sociais img {
    padding: 0 0.2rem;
    transition: all 0.4s;
}

.redes-sociais img:hover {
    transform: translateY(-10px);
}

.sing-up {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 2rem;
}


/* PHONE */

@media (max-width: 600px) {
    * {
        align-items: center;
        margin: 0;
        padding: 0;
    }
}