* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    text-decoration: none; 
}

.container{
    margin: 3rem 3rem;
}

.container h1 {
    font: 600 2.2rem 'Roboto', sans-serif;
    margin-bottom: 3.5rem;
}

.container .text {
    font: 500 1rem 'Roboto', sans-serif;
    color: #2e2c2c;
    width: 18rem;
    margin: 2rem 0;
}

input {
    display: flex;
    padding: 0.5rem 1rem;
    width: 17rem;

    border-radius: 7px;
    border-color: #00000069;
    margin-bottom: 10px;
}

.new-password {
    display: flex;
    margin-left: 10rem;
    padding: 1rem 0;

    color: #0d0dbd;
    font: 500 14px 'Poppins', sans-serif;
    letter-spacing: 1px;
}

button {
    display: flex;
    margin: 1rem 0.4rem;
    padding: 0.5rem 7rem;

    font: 500 14px 'Poppins', sans-serif;
    letter-spacing: 1px;
    border: none;
    background: #000000;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    background: #F9F9F9;
    color: #000000;
    border: 1px solid #000000;
}

p {
    font: 600 1.4rem 'Poppins', sans-serif;
    margin: 3rem 8rem;
}

.redes-sociais {
    margin: 2rem 3.4rem;
}

img {
    width: 55px;
    padding: 5px 6px;
}

.sing-up {
    font-size: 1rem;
    margin: 1rem 2.5rem;
}