* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    text-decoration: none; 
    color: rgba(0, 0, 0, 0.5);
}

h1 {
    margin: 180px 10px 50px 10px;

    line-height: 41px;
    font: 500 32px 'Roboto', sans-serif;

    letter-spacing: 0.41px;
    color: #000000;
}

p {
    margin: 20px 10px 15px 12px;

    line-height: 26px;
    font: 500 19px 'Roboto', sans-serif;

    letter-spacing: 0.41px;
}

input {
    width: 343px;
    height: 48px;

    margin: 5px 0 5px 10px;

    background: #F2F2F7;
    border-color: #F2F2F7;
    color: #000000;
    border-radius: 6px;

    font-size: 20px;
}

#new-password {
    margin:  10px 0 0 250px;
    display: inline-block;

    font: 500 16px 'Roboto', sans-serif;
    line-height: 22px;
    letter-spacing: -0.41px;

    color: #0000FF;
}

button {
    margin: 25px 0 0 10px;
    width: 343px;
    height: 50px;

    border-radius: 5px;
    background: black;
    color: white;
}

#account {
    line-height: 19px;
    font: 500 16px 'Roboto', sans-serif;

    color: rgba(0, 0, 0, 0.51)
}

.sing-up {
    color: #0000FF;
}